button {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    color: white;
    outline: none;
    margin-top: 20px;
    text-align: center;
    padding: 0px;
    z-index: 999;
}